.bg_white {
  background: #fff;
}
.inline-block {
  display: inline-block;
}
.clearf {
  clear: both;
}
.clearf:after,
.clearf:before {
  content: " ";
  display: table;
  clear: both;
}
.sizing-border {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
}
.sizing-content {
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -o-box-sizing: content-box;
}
.vmid {
  vertical-align: middle;
}
.mtop {
  margin-top: 12px;
  display: inline-block;
  height: 50px;
}
.larmg {
  margin: 120px 0;
}
.br_h {
  display: block;
  height: 35px;
}
.pdt-40 {
  padding-top: 40px!important;
}
.pdy-120 {
  padding-top: 120px;
  padding-bottom: 120px;
}
.no-pdy {
  padding-top: 0;
  padding-bottom: 0;
}
.pdl-20 {
  padding-left: 20px;
}
.mgt-10 {
  margin-top: 10px;
}
.mgb-0 {
  margin-bottom: 0px!important;
}
.mgb-5 {
  margin-bottom: 5px!important;
}
.mgb-10 {
  margin-bottom: 10px!important;
}
.mgb-15 {
  margin-bottom: 15px!important;
}
.mgb-20 {
  margin-bottom: 20px!important;
}
.mgb-25 {
  margin-bottom: 25px!important;
}
.mgb-30 {
  margin-bottom: 30px!important;
}
.mgb-35 {
  margin-bottom: 35px!important;
}
.mgb-40 {
  margin-bottom: 40px!important;
}
.mgb-45 {
  margin-bottom: 45px!important;
}
.mgb-50 {
  margin-bottom: 50px!important;
}
.mgb-55 {
  margin-bottom: 55px!important;
}
.mgb-60 {
  margin-bottom: 60px!important;
}
.mgr-15 {
  margin-right: 15px!important;
}
.mgr-25 {
  margin-right: 25px!important;
}
.mgr-35 {
  margin-right: 35px!important;
}
.mgr-45 {
  margin-right: 45px!important;
}
.mgr-50 {
  margin-right: 50px!important;
}
.mgy-120 {
  margin-top: 120px;
  margin-bottom: 120px;
}
.mgr-100 {
  margin-right: 100px;
}
.minh-200 {
  min-height: 200px;
}
.maxw-480 {
  max-width: 480px;
}
@media screen and (max-width: 768px) {
  /*html, body{font-size: 13px;}*/
  #topnav {
    height: 45px;
    padding: 8px;
  }
  .nav_toggle .nav_menus {
    top: 35px;
  }
  .btn_toggle,
  .btn_setting {
    font-size: 2rem;
  }
  #main_body {
    /*padding-bottom: 260px;*/
    /*padding-top: 100px;*/
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .wrapper .wrap_inner,
  .wrap .wrap_inner {
    height: calc(100vh - 45px - 60px - 204px);
  }
  .mgy-120 {
    margin-top: 30px;
    margin-bottom: 60px;
  }
  .gr_btn {
    /*max-width: 80%; display: block; margin: auto;*/
  }
  footer {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  #footnav ul li {
    width: 100%;
    text-align: left;
  }
  #footnav ul li:nth-child(1),
  #footnav ul li:nth-child(2) {
    width: 100%;
    text-align: left;
  }
  #footnav ul li:nth-child(1) a,
  #footnav ul li:nth-child(2) a {
    font-size: 1.1rem;
  }
  #footnav ul li:last-child {
    text-align: left;
  }
}
@media screen and (max-width: 480px) {
  html,
  body {
    font-size: 12px;
  }
  #topnav {
    padding: 10px;
    height: auto;
    min-height: 45px;
  }
  .index_logo {
    margin-bottom: 45px;
  }
  .wrapper,
  .wrap {
    /*margin: 10px 3px 20px;*/
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
  }
  .wrapper .wrap_inner,
  .wrap .wrap_inner,
  .wrapper .wrap_inner.pd-30,
  .wrap .wrap_inner.pd-30 {
    padding: 20px 10px;
  }
  .pp_options .item {
    padding: 20px 10px;
  }
  .gr_btn {
    height: auto;
    position: relative;
  }
  .gr_btn i,
  .gr_btn img {
    border: none;
  }
  .gr_btn:after {
    position: absolute;
    content: "";
    display: block;
    top: 0;
    left: 56px;
    bottom: 0;
    height: 100%;
    width: 2px;
    background: #fff;
  }
  .gr_btn span {
    padding: 13px 5px;
  }
}
/*# sourceMappingURL=screen.css.map */